@charset "UTF-8";
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: default;
}

h2 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

input[type=submit] {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  border-radius: 60px;
  margin: 2em auto;
}

.strong {
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  background-color: rgb(255, 254, 248);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  height: 42px;
  margin-top: 30px;
}
header .container h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
  justify-content: center;
}
header .container h1 > span {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 0.1em;
}
header .container ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .container ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
}
header .container ul li:hover,
header .container ul .login:hover {
  color: #b1663c;
}
header .administrator-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  max-width: 1440px;
  width: 100%;
  height: 59px;
}
header .administrator-header p {
  color: white;
  margin-left: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1040px;
  /* Login Section */
  /* Introduction Section */
  /* Portfolio Section */
  /* Contact Section */
}
main .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
main .login form {
  display: flex;
  flex-direction: column;
  width: 379px;
}
main .login form #email,
main .login form #password {
  height: 51px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
}
main .login form input[type=submit] {
  border: none;
  background-color: #1d6154;
  width: 179px;
  height: 35px;
}
main .login form label {
  margin: 50px 0 5px 0;
}
main .login #forget-password {
  text-decoration: underline;
}
main #introduction {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 70px;
  margin: 100px 0 100px 0;
}
main #introduction figure {
  margin: 0%;
}
main #introduction figure img {
  width: 474px;
}
main #introduction article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 404px;
}
main #introduction article h2 {
  margin-bottom: 1em;
}
main #introduction article p {
  text-align: left;
  margin: 0 0 1em 0;
  color: rgb(61, 61, 61);
}
main #portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 60px;
  /* Filters */
  /* Gallery */
}
main #portfolio .portfolio-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main #portfolio .portfolio-header h2 {
  margin: 0;
}
main #portfolio .filters {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
main #portfolio .filters button {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #1d6154;
  background-color: rgb(255, 254, 248);
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 0 0.5em;
  min-width: 100px;
  height: 37px;
}
main #portfolio .filters button:first-child {
  color: white;
  background-color: #1d6154;
}
main #portfolio .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
main #portfolio .gallery figure {
  margin: 0%;
}
main #portfolio .gallery figure figcaption {
  color: rgb(61, 61, 61);
  margin-top: 0.5em;
}
main #portfolio .gallery img {
  width: 100%;
}
main #contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
main #contact h2 {
  margin: 0px;
  text-align: center;
}
main #contact p {
  color: rgb(61, 61, 61);
  text-align: center;
}
main #contact form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 75%;
}
main #contact label {
  margin: 2em 0 0.5em;
}
main #contact input {
  height: 50px;
  font-size: 1.2em;
}
main #contact input[type=submit] {
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
}
main #contact input,
main #contact textarea {
  border: none;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

/* Footer */
footer {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  width: 100%;
  margin: 2em;
}
footer ul {
  margin: 0 5em 0 0;
  padding: 0;
}

/* Modal */
.modal-container nav {
  display: flex;
  align-content: center;
  gap: 0.5em;
  align-items: baseline;
  margin-left: 30px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  background-color: rgb(255, 255, 255);
  width: 630px;
  height: 688px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal .modal-content .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.modal .modal-content .modal-header .modal-interact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
}
.modal .modal-content .modal-header .modal-interact .close-modal {
  align-self: flex-end;
  margin: 2em;
}
.modal .modal-content .modal-header .modal-interact .prev-button {
  align-self: flex-start;
  margin: 2em;
}
.modal .modal-content .modal-header h2 {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 26px;
  line-height: 30.5px;
  color: black;
}
.modal .modal-content .modal-body {
  width: 420px;
}
.modal .modal-content .modal-body .modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 68px);
  width: 100%;
  gap: 20px;
}
.modal .modal-content .modal-body .modal-gallery figure {
  position: relative;
  margin: 0%;
  /* Boutton supprimer */
}
.modal .modal-content .modal-body .modal-gallery figure .delete-project {
  position: absolute;
  top: 10px;
  right: 5px;
  background: black;
  border: none;
  width: 17px;
  height: 17px;
  border-radius: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal-content .modal-body .add-photo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Conteneur de l'upload */
}
.modal .modal-content .modal-body .add-photo-form .file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*  Style du bouton personnalisé */
}
.modal .modal-content .modal-body .add-photo-form .file-upload input[type=file] {
  display: none;
}
.modal .modal-content .modal-body .add-photo-form .file-upload .upload-container {
  width: 100%;
  height: 169px;
  background: rgb(232, 241, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.modal .modal-content .modal-body .add-photo-form .file-upload .upload-container #preview-icon {
  padding: 5px;
}
.modal .modal-content .modal-body .add-photo-form .file-upload .upload-container #preview-image {
  height: 100%;
}
.modal .modal-content .modal-body .add-photo-form .file-upload .upload-container #upload-text {
  font-family: Work Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.42px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(48, 102, 133);
  background: rgb(203, 214, 220);
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0;
}
.modal .modal-content .modal-body .add-photo-form .file-upload .upload-container .upload-info {
  font-size: 10px;
  padding: 10px;
  margin: 0;
}
.modal .modal-content .modal-body .add-photo-form .input-upload {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal .modal-content .modal-body .add-photo-form .input-upload label {
  margin-top: 15px;
}
.modal .modal-content .modal-body .add-photo-form .input-upload #title,
.modal .modal-content .modal-body .add-photo-form .input-upload #category {
  height: 51px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
}
.modal .modal-content .modal-body .error-message {
  text-align: center;
}
.modal .modal-content .modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Désactiver uniquement dans le Step 1 */
}
.modal .modal-content .modal-footer .line-decorative {
  align-self: center;
  margin-bottom: 1em;
}
.modal .modal-content .modal-footer .disabled-step-1 {
  background-color: gray; /* Gris uniquement dans le Step 1 */
  width: 237px;
  height: 36px;
  margin-bottom: 3em;
  border: none;
}
.modal .modal-content .modal-footer .activate-button {
  background-color: #1d6154;
  width: 237px;
  height: 36px;
  margin-bottom: 3em;
  border: none;
}/*# sourceMappingURL=style.css.map */